﻿@model Shopcuatoi.Web.ViewModels.Catalog.ProductDetail

@section head
{
    <link href="~/lib/smoothproducts/css/smoothproducts.css" rel="stylesheet" />
    <link href="~/css/product-detail.css" rel="stylesheet" />
}

<div class="product-detail">
    <div class="row">
        <div class="col-md-6">
            <div class="sp-wrap">
                @foreach (var image in Model.Images)
                {
                    <a href="@image.Url">
                        <img src="@image.ThumbnailUrl" alt="" />
                    </a>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-name">
                <h1 class="">@Model.Name</h1>
                <div class="product-short-desc">@Html.Raw(Model.ShortDescription)</div>
                @if (Model.HasVariation)
                {
                    foreach (var attribute in Model.AvailableAttributes)
                    {
                        <p>
                            <h3>@attribute.AttributeName </h3>
                            <ul class="list-inline product-attrs">
                                @foreach (var value in attribute.Values)
                                {
                                    <li>
                                        <input type="radio" name="@attribute.AttributeName" />
                                        <label>@value</label>
                                    </li>
                                }
                            </ul>
                        </p>
                    }
                }
                <div class="product-price">
                    <h3>Price: @Model.Price.ToString("C2")</h3>
                </div>
                <div>
                    <button type="button" class="btn btn-default btn-lg">Add to Cart</button>
                    <button type="button" class="btn btn-default btn-lg">Add to Wishlist</button>
                </div>
            </div>
        </div>
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.Description))
    {
        <div>
            <h3>Product detail</h3>
            @Html.Raw(Model.Description)
        </div>
    }

    @if (!String.IsNullOrWhiteSpace(Model.Specification))
    {
        <div>
            <h3>Product specification</h3>
            @Html.Raw(Model.Specification)
        </div>
    }
</div>

@section scripts
{
    <script src="~/lib/smoothproducts/js/smoothproducts.js"></script>
    <script src="~/js/product-detail.js"></script>
}
