﻿<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>Category List</h2>
        </div>
        <div class="col-md-4 text-right">
            <a ui-sref="category-create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Category</a>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Published</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="category in vm.categories">
        <td>{{category.name}}</td>
        <td>{{category.isPublished}}</td>
        <td>
            <a ui-sref="category-edit({id: category.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
            <button ng-click="vm.delete(category)" class="btn btn-danger btn-xs delete"> <span class="glyphicon glyphicon-remove"></span></button>
        </td>
    </tr>
    </tbody>
</table>