﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Create category</h2>
    </div>
    <div class="panel-body">
        <form name="categoryForm" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Category Name</label>
                <div class="col-sm-10">
                    <input name="name" ng-model="vm.category.name" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Parent Category</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.category.parentId"
                            ng-options="category.id as category.name for category in vm.categories">
                        <option value="">Top</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.save()"><span class="glyphicon glyphicon-ok"></span> Save</button>
                    <button ui-sref="category" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>