﻿<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Create Product</h2>
    </div>
    <div class="panel-body">
        <form name="productForm" class="form-horizontal">
            <uib-tabset>
                <uib-tab index="0" heading="Product Information">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product Name</label>
                        <div class="col-sm-10">
                            <input name="name" ng-model="vm.product.name" required class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Short Description</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.shortDescUpload(files)" editor="vm.shortDescEditor" ng-model="vm.product.shortDescription"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.descUpload(files)" editor="vm.descEditor" ng-model="vm.product.description"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Specification</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.specUpload(files)" editor="vm.specEditor" ng-model="vm.product.specification"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <input name="price" ng-model="vm.product.price" required class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Old Price</label>
                        <div class="col-sm-10">
                            <input name="description" ng-model="vm.product.oldPrice" required class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Thumbnail</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" ngf-select ng-model="vm.thumbnailImage" name="thumbnailImage" ngf-accept="'image/*'">
                            <img ngf-src="vm.thumbnailImage" ngf-resize="{width: 80, height: 80, quality: 0.9}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product Images</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" ngf-select ng-model="vm.productImages" ngf-multiple="true" name="productImages" ngf-accept="'image/*'">
                            <span ng-repeat="image in vm.productImages">
                                <img ngf-src="image" ngf-resize="{width: 80, height: 80, quality: 0.9}">
                            </span>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Product Variations">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Available Attributes</label>
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="vm.addingAttribute" ng-options="attr as attr.name for attr in vm.attributes"></select>
                                </div>
                                <button class="btn btn-default" ng-disabled="!vm.addingAttribute" ng-click="vm.addAttribute()">Add Attribute</button>
                                </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="vm.product.attributes.length > 0">
                        <label class="col-sm-2 control-label">Attribute Options:</label>
                    </div>
                    <div class="form-group" ng-show="vm.product.attributes.length > 0">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group" ng-repeat="attribute in vm.product.attributes">
                                <label class="col-sm-1 control-label">{{attribute.name}}</label>
                                <div class="col-sm-11">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <md-chips ng-model="attribute.values"
                                                      placeholder="Enter a {{attribute.name}}"
                                                      delete-button-label="Remove {{attribute.name}}"
                                                      delete-hint="Press delete to remove {{attribute.name}}"
                                                      secondary-placeholder="+{{attribute.name}}">
                                            </md-chips>
                                        </div>
                                        <button class="btn btn-default" ng-click="vm.deleteAttr(attribute)">Delete Attribute</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="vm.product.attributes.length > 0">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default" ng-click="vm.generateAttrCombination()">Generate Combinations</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <table ng-show="vm.product.variations.length > 0" class="table table-striped">
                                <tr>
                                    <th>Combination</th>
                                    <th>(+)Increase/(-)Descrease Price</th>
                                    <th>Picture</th>
                                    <th>Actions</th>
                                </tr>
                                <tr ng-repeat="variation in vm.product.variations">
                                    <td>{{variation.name}}</td>
                                    <td><input type="number" ng-model="variation.priceOffset" /></td>
                                    <td></td>
                                    <td>
                                        <button ng-click="vm.deleteVariation(variation)" type="button" class="btn">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Category Mapping">
                    <md-content class="md-padding">
                        <md-input-container class="md-block">
                            <div ng-repeat="category in vm.categories">
                                <md-checkbox ng-click="vm.toggleCategories(category.id)">
                                    {{ category.name }}
                                </md-checkbox>
                            </div>
                        </md-input-container>
                    </md-content>
                </uib-tab>
            </uib-tabset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.create(productForm)"><span class="glyphicon glyphicon-ok"></span> Save</button>
                    <button ui-sref="product" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>